<%= link_to "Create Topic", "#", class: "btn btn-small border-radius", id: "show-new-topic" %>
<div id="new-topic-form">
  <%= form_for Topic.new, :remote => true do |f| %>
    <div class="field inline">
      <%= f.text_field :title, placeholder: "Topic description", class: "topic-form-field" %>
    </div>

    <div class="actions inline">
      <%= f.submit "Create Topic", class: "btn btn-small border-radius new-topic-btn" %>
    </div>
  <% end %>
</div>