<div id="login-form" class="small-form bottom-border-radius">
  <h4>Login below</h4>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= text_field_tag "user[email]", nil, placeholder: "email", class: "small-form-field" %>
    </div>

    <div class="field">
      <%= password_field_tag "user[password]", nil, placeholder: "password", class: "small-form-field" %>
    </div>

    <div class="actions">
      <div>
        <%= submit_tag "Log in", class: "btn-small-form border-radius" %>
      </div>
    </div>
  <% end %>
</div>