<div class="profile">
  <span class="user-name"><%= "#{current_user.name}" if current_user %></span>
  <span class="votes-left"><%= "#{current_user.open_votes} votes left today" if current_user %></span>
</div>