@import "font-awesome";

body {
  font-family: Helvetica;
  background-image: url('subtle_grunge.png');
  margin: 0;
}

.top-nav {
  position: fixed;
  background-color: #00668D;
  height: 4em;
  width: 100%;
  z-index: 1;
}

.top-nav h1 {
  display: inline;
  float: left;
  font-size: 2em;
  color: #001F2A;
  line-height: 0.75em;
  margin-left: 1em;
}

.navbar-title{
  color: #eee;
}

.right-nav {
  float: right;
  margin: 0.5em 0 0.5em 0;
  text-align: center;
}

.nav-link {
  float: right;
  margin-right: 3em;
  text-decoration: none;
  color: #001F2A;
  line-height: 4em;
}

.sub-nav {
  position: fixed;
  top: 4em;
  width: 100%;
  background-color: #DBE4FF;
  border-bottom: solid 2px #00668D;
  text-align: center;
  .sub-nav-link {
    display: inline-block;
    margin: 0;
    padding: 0.3em 1em;
    width: 6em;
    font-weight: bold;
    text-decoration: none;
    color: #001F2A;
    line-height: 2em;
    border-left: solid 1px #bbb;
  }
  .sub-nav-link:last-child {
    border-right: solid 1px #bbb;
  }
}

.left-nav:hover {

}

.user-name {
  display: block;
  margin-right: 2em;
}

.votes-left {
  display: block;
  font-size: 0.8em;
  margin-right: 2em;
}

.container {
  width: 83em;
  min-height: 25em;
}

.topic-list {
  position: absolute;
  top: 8em;
  left: 17.5em;
  right: 17.5em;
  margin: 0 auto;
  width: 35em;
  color: #001F2A;
}

.topic-list-header {
  background: #8C8588;
  text-align: center;
  padding: 0.6em;
  border-top: 0.2em solid #444;
  border-right: 0.2em solid #444;
  border-left: 0.2em solid #444;
  border-bottom: 0.1em solid #DBE4FF;
  h2 {
    margin: 0;
  }
}

.topic-list-body {
  background: black;
  color: #000;
  padding: 0.5em;
}

.topics-table {
  width: 34em;
  margin: 0 auto;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
}

.topics-table tr {
  height: 2.75em;
}

tr:nth-child(even) {
  background-color: #96B1FF;
  border-top: solid 2px #00668D;
  border-bottom: solid 2px #00668D;
}

tr:nth-child(odd) {
  background-color: #DBE4FF;
}

.topic-row td {
  margin-right: 2em;
  vertical-align: center;
}

td.vote-count {
  text-align: center;
}

td.btn-col {
  margin-right: 0em;
  padding-right: 0em;
  width: 7em;
  text-align: center;
}

.row-small {
  display: block;
  margin: 0 0 0 1em;
  font-size: 0.7em;
  color: #6C363C;;
  font-weight: bold;

  a {
    text-decoration: none
  }
  .date-info {
    font-style: italic;
    font-weight: normal;
    color: #222;
  }
}

.topic-list-footer {
  background: #8C8588;
  min-height: 4em;
  margin-bottom: 4em;
  border-top: 0.1em solid #DBE4FF;
  border-bottom: 0.2em solid #444;
  border-right: 0.2em solid #444;
  border-left: 0.2em solid #444;
}

.cohort-nav {
  padding: 1em;
  span {
    line-height: 1.75em;
  }
}

.btn {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #001F2A;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #001F2A;
}

.btn.disabled {
  background-color: #fff;
  color: #001F2A;
  cursor: default;
}

.btn-small {
  font-size: 0.8em;
  text-align: center;
  width: 3em;
  margin-top: 0;
  cursor: pointer;
}

.btn.cohort {
  float: right;
  width: 3.5em;
  margin: auto 0 auto 1.25em;
}

.footer {
  width: 40em;
  margin: 2em auto;
  padding-top: 0.5em;
  border-top: 0.15em solid #aaa;
  height: auto;
}

.border-radius {
  -webkit-border-radius: 0.6em;
     -moz-border-radius: 0.6em;
          border-radius: 0.6em;
}

.bottom-border-radius {
  -webkit-border-bottom-right-radius: 0.6em;
     -moz-border-bottom-rightradius: 0.6em;
          border-bottom-right-radius: 0.6em;
  -webkit-border-bottom-left-radius: 0.6em;
     -moz-border-bottom-leftradius: 0.6em;
          border-bottom-left-radius: 0.6em;
}

.top-border-radius {
  -webkit-border-top-right-radius: 0.6em;
     -moz-border-top-rightradius: 0.6em;
          border-top-right-radius: 0.6em;
  -webkit-border-top-left-radius: 0.6em;
     -moz-border-top-leftradius: 0.6em;
          border-top-left-radius: 0.6em;
}

.small-form {
  display: none;
  position: fixed;
  top: 6.6em;
  right: 0;
  padding: 0.5em;
  background: #8C8588;;
  width: 12em;
}

.small-form-field {
  margin: 0 auto 0.8em auto;
  width: 16em;
  -webkit-border-radius: 0.3em;
     -moz-border-radius: 0.3em;
          border-radius: 0.3em;
}

.btn-small-form {
  display: inline-block;
  border: none;
  font-size: 0.8em;
  text-align: center;
  width: 60px;
  background-color: #001F2A;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.small-form h4 {
  margin: 0 0 0.35em 0;
}

#messages h4 {
  color: red;
}

#show-new-topic {
  float: left;
  margin: 1em 1em 0em 0.4em;
  width: 8em;
  height: 2em;
  line-height: 2em;
}

#new-topic-form {
  display: none;
  margin: 1em 0;
}

.topic-form-field {
  float: left;
  width: 30em;
  height: 2em;
  margin-left: 0.5em;
  font-size: 0.75em;
  -webkit-border-radius: 0.3em;
     -moz-border-radius: 0.3em;
          border-radius: 0.3em;
}

.new-topic-btn {
  float: right;
  width: 10em;
  margin: auto 0.7em auto 0;
  border: none;
}

.inline {
  display: inline;
}

a.logout {
  color: #001F2A;
  margin-right: 2em;
  text-decoration: none;
  font-size: 0.65em;
}

.icon:hover {
  cursor: pointer;
}

span.vote {
  margin-right: 0.5em;
}

.icon-btn {
  color: #001F2A;
  cursor: pointer;
}

.disabled {
  opacity: 0.4;
  color: #8C8C8C;
  cursor: auto;
}

.error {
  color: #6C363C;
}

.small-form ul {
  margin-bottom: 0.5em;
  padding-left: 0.3em;
  list-style-type: none;
}

.errors {
  color: #6C363C;
  font-size: 0.7em;
}

a.icon {
  text-decoration: none;
}